<div class="flex flex-col md:flex-row items-center justify-center w-full mb-12">
  <div class="grid grid-cols-2 grid-rows-3 gap-2">
    {% for ft in site.data.food_types.fts %}
    <turbo-frame id="{{ft.animal}}-li" target="the_pit">
      <a href="/partials/food_types/{{ft.animal}}.html">
        <div class="px-2 py-2 bg-gradient-to-b from-{{ft.color}}-500 to-{{ft.color}}-600 border-4 shadow border-{{ft.color}}-300 hover:from-{{ft.color}}-300 rounded cursor-pointer">
          <div class="flex flex-col items-center justify-center w-24 h-24 p-4">
            <img src="../assets/img/{{ft.animal}}.png"/>
          </div>
        </div>
      </a>
    </turbo-frame> 
    {% endfor %}
  </div>
  <div class="mx-auto block py-8 md:mx-0 md:py-0 ml-0 md:ml-16"
    data-controller="food-types">
    <turbo-frame id="the_pit">
        <h3 class="text-lg text-center px-4"
             data-food-types-target="selectFood">
          Selecciona el menú y mira lo que contiene.
        </h3>
    </turbo-frame>
  </div>
</div>
