 <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Jost:wght@400;700&display=swap');
    </style>
    <meta property="og:title" content="Tigerfood">
    <link rel="stylesheet" href="/assets/styles.css">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">
    <script type="text/javascript" src="/dist/bundle.js"></script>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  </head>
