<div class="h-35vh
            sm:h-40vh
						md:h-45vh
            lg:h-65vh
            xl:h-75vh
            w-full bg-gradient-to-b from-crema-150 to-crema-50 absolute z-10">
    <div class="flex flex-col items-center justify-center md:flex-row">
    <div class="flex items-center align-middle justify-center items-center">
      <div class="flex flex-col items-center h-full flex-nowrap">
<lottie-player
              class="w-screen
                     mt-15vh
                     sm:mt-25vh
                     md:mt-30vh
                     lg:mt-25vh
                     xl:mt-15vh "
              src="https://assets5.lottiefiles.com/packages/lf20_d1d2pfag.json"
              background="transparent"
              speed="0.75"
              autoplay
          >
          </lottie-player>
      </div>
    </div>
  </div>
</div>
