<div class="w-full h-cuarto xs:h-tercio sm:h-medio md:h-dos-tercios bg-gradient-to-b from-crema-150 to-crema-100">
  <div class="flex flex-col items-center justify-center md:flex-row">
    <div class="flex items-center align-middle flex-justify-center justify-items-center">
      <div class="flex flex-col items-center flex-nowrap">
          <lottie-player
              class="w-screen mt-8 md:-mt-16"
              src="https://assets6.lottiefiles.com/packages/lf20_lmlag9at.json"
              background="transparent"
              speed="0.75"
              autoplay
          >
          </lottie-player>
      </div>
    </div>
  </div>
</div>
