<div class="h-tercio
            sm:h-cuarenta
            lg:h-medio
            xl:h-casitoda
            w-full bg-gradient-to-b from-crema-150 to-crema-50 absolute z-10">
    <div class="flex flex-col items-center justify-center md:flex-row">
    <div class="flex items-center align-middle justify-center items-center">
      <div class="flex flex-col items-center h-full flex-nowrap">
          <lottie-player
              class="w-screen
                     mt-24
                     sm:mt-24
                     md:mt-32
                     lg:mt-24
                     xl:mt-24 "
              src="https://assets5.lottiefiles.com/packages/lf20_d1d2pfag.json"
              background="transparent"
              speed="0.75"
              autoplay
          >
          </lottie-player>
      </div>
    </div>
  </div>
</div>
