<div class="fondo-general pt-4 lg:pt-32" data-controller="main-paper">
  <div class="w-full  mt-16 xs:mt-24 md:mt-48 lg:mt-64 pb-16 mx-auto border-4 rounded sm:w-4/5 bg-crema-25 shadow-sm border-crema-50">
    <div class="sticky z-10 w-12 -ml-12 cursor-pointer xs:-ml-4 md:ml-4 sm:top-20 top-32 left-2 md:left-24 animate-wiggle" data-action="mouseover->main-paper#highlight">
        <img src="../assets/img/phone_circle.svg" class="animate-fade-in" alt="" data-main-paper-target="phone">
    </div>
    <div class="flex flex-col items-center justify-center px-4 mx-auto">
        <div class="mb-8">
            {% include written_homepage.html %}
        </div>
        <hr class="block w-3/4 mx-auto my-4 border-b-2 border-morado-300"/>
        <p class="mx-auto my-8 text-xl font-bold text-center">Tenemos 6 tipos de recetas con las que puedes deleitar a tu perro:</p>
        <div>
            {% include food_types.html %}
        </div>
    </div>
  </div>
</div>
