<div class="flex flex-col w-full bg-cover bg-gradient-to-b from-crema-150 to-crema-50 h-casitoda "
     style="" >
    <div class="absolute z-0 pt-32 mt-64 md:pt-20 opacity-8 md:opacity-16 md:mt-0">
      <img src="../assets/img/trazo_granja_further.png" class=" transform scale-150 md:scale-75">
    </div>
    <div class="items-center w-full py-16 mx-auto mt-32 border-8 rounded shadow-lg md:w-3/4 bg-morado-700 z-100 bg-noise border-morado-700">
      <div class="flex flex-col items-center my-2 non-blurry"
        data-controller="questionnarie">
        <h2 class="mb-8 text-3xl font-bold text-center text-white"
          data-questionnarie-target="calculateHow">
          Calcula <em>cuánto</em> Tigerfood necesita tu mascota.
        </h2>
        <div class="w-full py-4 mx-auto border-4 rounded shadow md:w-3/4 bg-morado-700 bg-opacity-75 border-morado-700">
          <turbo-frame id="pet-qa">
            <form action=""
             data-controller="dog-name" 
             class="flex flex-col items-center py-8 rounded"
              >
              <label for="" class="text-2xl font-bold text-crema-50">
                ¿Cómo se llama tu mascota?
              </label>
              <input value=""
                class="input-general"
                type="text"
                data-dog-name-target="dogName"
              >
              <a href="partials/dog_weight.html"
                data-action="click->dog-name#submission"
                class="btn-importante bg-gradient-to-tl from-crema-150 to-crema-50 to-bg-white"
              >
              Continuar
              </a>
              
            </form>
          </turbo-frame>
        </div>
      </div>
  </div>
</div>
