{% assign base = ''
%}{% assign depth = page.url | split: '/' | size | minus: 1
%}{% if depth <= 1
%}{% assign base = '.'
%}{% elsif depth == 2
%}{% assign base = '..'
%}{% elsif depth == 3
%}{% assign base = '../..'
%}{% endif
%}
<div class="z-20 w-full py-2 overflow-x-hidden bg-morado-700 animate-fade-in-down shadow-sm" 
     data-main-navbar-target="topbar">
  <nav class="flex flex-row-reverse pr-4 text-white">
    <a href="{{site.baseUrl}}/">
      <img src="{{base}}/assets/img/logo.png"
         style="filter: brightness(3);"
         class="w-24">
    <a href="{{ site.baseUrl }}/blog">
      <div class="mx-8 text-lg hover:underline">Blog</div>
    </a>
  </nav>
</div>

