<div class="pr-4 md:pr-0" data-controller="main-text">
  <div class="max-w-sm sm:max-w-md mx-auto my-4 text-lg md:max-w-xl">
    <p>Lanzamos a TigerFoods para todos los lindos perros que merecen más que el mismo concentrado monótono y poco nutritivo.</p>
    <p class="mt-4"><strong>Nuestra historia es esta:</strong> Tigre, nuestro perro, dejó de comer. Cuando llegó a nuestra casa, solo le dimos concentrado, y con los días fuimos viendo su falta de apetito. Entonces decidimos darle algo de comida casera complementando su concentrado, y <em>voilá</em>: Tigre recobró la energía de siempre.</p>
    <p class="my-4">Sospechamos que el problema podría ser el concentrado, así que lo cambiamos por otro, pero el entusiasmo de Tigre por comerlo solo duró unos días. En esto los humanos y los perros nos parecemos: nos aburrimos de comer lo mismo. Concluimos que cualquier concentrado sería igual; Tigre preferiría la comida casera.</p>
  </div>
  <div class="max-w-sm sm:max-w-md md:max-w-xl mx-auto my-4 text-lg" >
    <div  >
      <h3 class="mt-6 mb-4 text-2xl font-bold"
        data-main-text-target="ratherKitchen">
        Tigre prefiere una cocina a una fábrica
      </h3>
    </div>
    <p>
    Todo esto nos llevó a investigar acerca del concentrado. Encontramos que por su composición, con aditivos y conservantes, puede "oler" muy bien para nuestra mascota, pero definitivamente es poco nutritivo. Por el otro lado, es muy práctico (no hay que prepararlo) y también aporta algo de vitaminas; por ello, complementarlo con pollo, carne, cerdo o pescado cocido, el caldo, arroz, variedad de vegetales, etc, resultó ser una muy buena idea. Ahora debemos tener cuidado de la porción, porque Tigre devora todo lo que pongamos su plato. </p> 
<p class="my-4">Pero no solo eso: este mix de alimentos es beneficioso en otros aspectos. A Tigre le mejoró su piel y su pelo (tenía mucha resequedad), le ayuda a mantener un peso saludable, y siempre sus heces son consistentes. Además notamos que su olor es menos fuerte; o sea, necesitamos bañarlo con menos frecuencia.</p> 
  </div>
  <div class="flex flex-col text-lg md:flex-row">
    <div class="flex flex-col items-end justify-end max-w-xs sm:max-w-sm md:max-w-md my-4 md:my-2 py-8 px-4 pt-4 bg-white border-4 rounded shadow md:max-w-xl md:py-0 border-crema-150">
      <img src="../assets/img/circles/the_product.jpg" alt="">
    </div>
    <div class="max-w-xs sm:max-w-md max-w-xs ml-0 md:ml-16">
      <p class="my-4">Así, sin darnos cuenta, surgió TigerFoods. Una marca honesta que con sus recetas saludables, naturales y conscientes, mejora la nutrición de nuestros perritos. Nuestra experiencia nos sugiere que una porción de la mitad o menos concentrado y el resto de TigerFoods logra el balance ideal para tu mascota y para el bolsillo. </p> 
      <p class="my-4">Estamos en constante evolución: ahora tenemos recetas elaboradas y balanceadas, preparadas con la supervisión de un chef y en una auténtica cocina. Apto para consumo humano 🙂.
      </p>

		<div>
			<h3 class="my-4 font-bold text-2xl"
        data-main-text-target="pricingHeader">
			¿Cuánto cuesta Tigerfood?</h2>
			<table class="table-auto w-full">
				<thead class="font-bold">
					<tr class="border-b border-crema-100">
            <td>Producto</td>
            <td>Presentación</td>
            <td class="text-right">Precio</td>
					</tr>
				</thead>
				<tbody class="mt-1">
					<tr class="mt-1">
						<td>Alimento natural</td>
						<td>½ litro</td>
						<td class="text-right">9.000</td>
					</tr>
					<tr>
						<td>Alimento natural</td>
						<td>1 litro</td>
						<td class="text-right">17.000</td>
					</tr>
				</tbody>
			</table>
			<div class="text-sm mt-2">
				Todas las recetas tienen el mismo valor.
			</div>
		</div>
    </div>
  </div>
</div>
