<div>
  <div class="max-w-xs md:max-w-xl mx-auto my-4 text-lg">
    <p>Lanzamos a TigerFoods para todos los lindos perros que merecen más que solo el mismo concentrado monótono y poco nutritivo.</p>
    <p class="mt-4">Nuestra historia es esta: Tigre, nuestro perro, dejó de comer. Cuando llegó a nuestra casa solo le dimos concentrado y con los días vimos su falta de apetito. Entonces decidimos darle algo de comida casera complementando su concentrado, y voilá: Tigre recobró la energía de siempre.</p>
    <p class="my-4">Sospechamos que el problema podría ser el concentrado, así que lo cambiamos por otro, pero el entusiasmo de Tigre por comerlo solo duró unos días. En esto los humanos y los perros nos parecemos: nos aburrimos de comer lo mismo. Concluimos que cualquier concentrado sería igual; Tigre preferiría la comida casera.</p>
  </div>
  <div class="max-w-xl mx-auto my-4 text-lg">
    <h3 class="mt-6 mb-2 text-2xl font-bold">
      Tigre prefiere una cocina a una fábrica
    </h3>
    <p>
    Todo esto nos llevó a investigar acerca del concentrado. Encontramos que por su composición con aditivos y conservantes, puede "oler" muy bien para nuestra mascota, pero definitivamente es poco nutritivo. Por el otro lado, es muy práctico (no hay que prepararlo) y también aporta algo de vitaminas; por ello, complementarlo con pollo, carne, cerdo o pescado cocido, el caldo, arroz, variedad de vegetales, etc, resultó ser una muy buena idea. Ahora debemos tener cuidado de la porción, porque Tigre devora todo en su plato. </p> 
<p class="my-4">Pero no solo eso: este mix de alimentos es beneficioso en otros aspectos. A Tigre le mejoró su piel y pelo (tenía mucha resequedad), le ayuda a mantener un peso saludable, y siempre sus heces son consistentes. Además notamos que su olor es menos fuerte; o sea necesitamos bañarlo con menos frecuencia.</p> 
  </div>
  <div class="flex flex-col md:flex-row text-lg">
    <div class="flex flex-col items-end justify-end max-w-sm pt-2 border-4 rounded shadow border-crema-150">
      <img src="../assets/img/hambriento.jpg" alt="">
    </div>
    <div class="max-w-sm ml-0 md:ml-16">
      
      <p class="my-4">Así, sin darnos cuenta, surgió TigerFoods. Una marca honesta que con sus recetas saludables, naturales y conscientes, mejora la nutrición de nuestros perritos. Nuestra experiencia nos sugiere que una porción de la mitad o menos concentrado y el resto de TigerFoods logra el balance ideal para tu mascota y para el bolsillo. </p> 
      <p class="my-4">Estamos en constante evolución: ahora tenemos recetas elaboradas y balanceadas, preparadas con la supervisión de un chef y en una auténtica cocina. Apto para consumo humano :).
      </p>
    </div>
  </div>

</div>

