--
  <image src= "{{page.featured_rondela}}" class="block py-8 mx-auto"/>
 <div class="w-full pt-16 min-hscreen bg-gradient-to-b from-crema-100 to-crema-50">
layout: default
---
 <div class="w-full pt-16 min-hscreen bg-gradient-to-b from-crema-100 to-crema-50" data-controller="post">
  <h1 class="block mx-auto text-3xl font-bold text-center"
      data-post-target="title">
    {{ page.title }}
  </h1>
  <image src= "{{page.featured_rondela}}" class="mx-auto py-8 block"/>
  <p class="block max-w-md mx-auto leading-normal mx-auto-sm">
    {{ page.date | date_to_string }}
  </p>
  {{ content }}
</div>
